/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

body {
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 1280px;
    margin: auto;
    position: relative;
}

footer {
    width: 1280px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 3.13%;
}

main>* {
    padding: 0 3.13%;
}

/* HEADERS, PARAGRAPHS */
h2 {
    color: #545454;
    font-family: 'Gelasio', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.73vw;
    letter-spacing: 0.06em;
}

p {
    font-size: 1.17vw;
    line-height: 160%;
    color: #4C4C4C;
    line-height: 160%;
}

/* BUTTONS */
.btn-default {
    text-decoration: none;
    font-family: 'Gelasio', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.33vw;
    line-height: 130%;
    letter-spacing: 0.06em;
    background-color: #F1CDB3;
    color: #292929;
    padding: 1.17vw 3.52vw;
    border: 0;
    border-radius: 10vw;
    cursor: pointer;
}

.btn-default:hover {
    background-color: #FDDCC4;
}

/* FOOTER */
footer {
    padding-top: 32px;
    background-color: #2b2726;
    background-image: url(assets/images/noise_transparent.png), url(assets/images/footer-background.png);
    background-repeat: repeat, no-repeat;
    background-size: 12%, cover;
    display: flex;
    justify-content: space-between;
}

footer h2 {
    color: white;
    line-height: 130%;
}

footer a {
    text-decoration: none;
    font-family: 'Georgia';
    font-size: 1.56vw;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

footer p {
    display: flex;
    align-items: center;
}

.footer-icon {
    margin-right: 1.56vw;
}

.footer-puppy-img {
    align-self: flex-end;
}