/* FONTS */
@font-face {
    font-family: 'Georgia';
    src: url(../assets/fonts/georgia.ttf);
}

body {
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: auto;
    position: relative;
}

footer {
    margin: auto;
    box-sizing: border-box;
    padding: 0 3.13%;
}

main>* {
    padding: 0 3.13%;
}

@media screen and (max-width: 1279px) {
    main>* {
        padding: 0 3.91%;
    }
}

/* HEADERS, PARAGRAPHS */
h2 {
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 2.73vw;
    letter-spacing: 0.05em;
}

p {
    font-size: 1.17vw;
    line-height: 160%;
    color: #4C4C4C;
    line-height: 160%;
}

@media screen and (max-width: 1279px) {
    h2 {
        font-size: 4.56vw;
        /* font-size: 35px; */
        letter-spacing: 0.06em;
    }

    p {
        font-size: 1.95vw;
        /* font-size: 15px; */
    }
}

@media screen and (max-width: 767px) {
    h2 {
        /* font-size: 25px; */
        font-size: 7.81vw;
    }

    p {
        font-size: 4.69vw;
        /* font-size: 15px; */
    }
}

/* BUTTONS */
.btn-default {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.33vw;
    line-height: 130%;
    letter-spacing: 0.06em;
    background-color: #F1CDB3;
    color: #292929;
    padding: 1.17vw 3.52vw;
    border: 0;
    border-radius: 10vw;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.btn-default:hover {
    background-color: #FDDCC4;
}

@media screen and (max-width: 1279px) {
    .btn-default {
        font-size: 2.21vw;
        /* font-size: 17px; */
        padding: 1.95vw 5.86vw;
    }
}

@media screen and (max-width: 767px) {
    .btn-default {
        /* font-size: 17px; */
        font-size: 5.31vw;
    }
}

/* MOBILE MENU */
.hide {
    display: none;
}

.turn {
    transform: rotate(90deg);
}

.hamburger-button {
    display: none;
}

/* FOOTER */
footer {
    padding-top: 27px;
    background-color: #2b2726;
    background-image: url(../assets/images/noise_transparent@2x.png), radial-gradient(80% 350% at 0% 0%, #4e3e32 10%, #222021 100%);
    display: flex;
    justify-content: space-between;
}

footer h2 {
    color: white;
    line-height: 130%;
}

footer a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.56vw;
    line-height: 115%;
    letter-spacing: 0.05em;
    color: #F1CDB3;
}

footer p {
    display: flex;
    align-items: center;
}

.footer-suggestions-wrapper p {
    margin-top: 40px;
}

.footer-visit-wrapper p {
    margin-top: 31px;
}

.footer-suggestions-wrapper img {
    width: 3.2vw;
    margin-right: 1.56vw;
}

.footer-visit-wrapper img {
    width: 1.8vw;
    margin-right: 1.56vw;
}

.footer-puppy-img {
    padding-top: 13px;
    width: 23.5vw;
    align-self: flex-end;
}

@media screen and (max-width: 1279px) {
    footer {
        padding-top: 2px;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 8vw;
    }

    footer a {
        font-size: 2.99vw;
        /* font-size: 20px; */
    }

    .footer-suggestions-wrapper img {
        width: 5.21vw;
        margin-right: 2.6vw;
    }

    .footer-visit-wrapper img {
        width: 2.86vw;
        margin-right: 1.56vw;
    }

    .footer-puppy-img {
        padding-top: 44px;
        width: 39vw;
        align-self: center;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    footer {
        padding-top: 11px;
    }

    footer h2 {
        text-align: center;
    }

    footer a {
        font-size: 6.25vw;
    }

    .footer-suggestions-wrapper img {
        width: 12.5vw;
        margin-right: 8.6vw;
    }

    .footer-visit-wrapper img {
        width: 6.88vw;
        margin-right: 1.56vw;
    }

    .footer-puppy-img {
        width: 81vw;
    }
}