@import url(normalize.css);
@import url(global.css);

/* HEADER WRAPPER*/
.header-wrapper {
    background-color: #2b2726;
    background-image: url(../assets/images/noise_transparent@2x.png), radial-gradient(80% 350% at 0% 0%, #4e3e32 10%, #222021 100%);
}

/* HEADER */
.main-menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2.73vw;
}

.main-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.17vw;
    transition: color 0.2s ease-out;
    transition: padding-bottom 0.2s ease-out;
}

#about-higlight {
    color: #F1CDB3;
    padding-bottom: 8px;
    background-image: linear-gradient(to right, #F1CDB3, #F1CDB3);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}

.main-menu a:hover {
    color: #FDDCC4;
    padding-bottom: 8px;
    background-image: linear-gradient(to right, #F1CDB3, #F1CDB3);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}

.header-wrapper header {
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo-wrapper h1 a {
    color: #F1CDB3;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 2.5vw;
    letter-spacing: 0.06em;
}

.logo-wrapper p {
    color: white;
    font-size: 1.02vw;
    letter-spacing: 0.1em;
    margin-top: -20px;
    margin-left: 0.2vw;
}

@media screen and (max-width: 770px) {
    .header-wrapper header {
        padding-top: 12px;
    }

    .logo-wrapper h1 a {
        font-size: 4.17vw;
    }

    .logo-wrapper p {
        font-size: 1.69vw;
        margin-top: -17px;
        margin-left: 3px;
    }

    .main-menu {
        gap: 4.7vw
    }

    .main-menu a {
        font-size: 1.95vw;
    }
}

/* SECTION NOT ONLY */
.not-only {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

.not-only-text-wrapper {
    position: relative;
    margin-top: -153px;
    width: 50vw;
}

.not-only h2 {
    color: white;
    font-size: 3.13vw;
    line-height: 144%;
}

.not-only p {
    font-size: 1.17vw;
    line-height: 145%;
    color: #CDCDCD;
    margin-top: 47px;
}

.not-only-button {
    position: relative;
    top: 45px;
}

.not-only img {
    padding-top: 25px;
    width: 55vw;
}

@media screen and (max-width: 770px) {
    .not-only {
        flex-direction: column;
        align-items: center;
    }

    .not-only-text-wrapper {
        margin-top: 19px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .not-only h2 {
        position: relative;
        left: -10vw;
        font-size: 5.73vw;
        line-height: 137%;
        letter-spacing: normal;
        margin: 0;
    }

    .not-only p {
        font-size: 1.95vw;
        line-height: 149%;
        margin-top: 42px;
    }

    .not-only-button {
        top: 29px;
    }

    .not-only img {
        padding-top: 131px;
        width: 74vw;
        align-self: flex-end;
    }
}

/* SECTION ABOUT  */
.about {
    background-color: white;
    padding-top: 66px;
    padding-bottom: 105px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-areas: "about-picture about-text";
}

#about-picture {
    grid-area: about-picture;
}

#about-text {
    grid-area: about-text;
}


.about img {
    width: 23.5vw;
    justify-self: center;
    position: relative;
    top: 14px;
    left: 25px;
}

.about-text-wrapper {
    width: 72%;
    justify-self: start;
}

.about-text-wrapper p:first-of-type {
    margin-top: -5px;
    margin-bottom: 29px;
}

.about h2 {
    line-height: 1.3em;
}

@media screen and (max-width: 770px) {
    .about {
        grid-template-areas: " about-text "" about-picture ";
        grid-template-columns: 1fr;
        padding-top: 51px;
        padding-bottom: 161px;
    }

    .about-text-wrapper {
        width: 61%;
        justify-self: center;
    }

    .about img {
        width: 39.8vw;
        top: 66px;
        left: 0;
    }
}

/* SECTION OUR FRIENDS */
.our-friends {
    padding-top: 56px;
    padding-bottom: 98px;
    background: #F6F6F6;
    display: grid;
    justify-items: center;
}

.our-friends h2 {
    text-align: center;
}

.slider-wrapper {
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 4.1vw;
}

.our-friends-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 7vw;
}

.arrow-left {
    width: 3.8vw;
    height: 3.8vw;
    cursor: pointer;
    border: solid 2px #F1CDB3;
    border-radius: 4.06vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-out;
}

.arrow-right {
    width: 3.8vw;
    height: 3.8vw;
    cursor: pointer;
    border: solid 2px #F1CDB3;
    border-radius: 4.06vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-out;
}

.arrow-left img,
.arrow-right img {
    width: 1vw;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: #FDDCC4;
    border: solid 2px #FDDCC4;
    border-radius: 100px;
}

.our-friends-card {
    -webkit-box-shadow: 0px 0px 21px -5px rgba(193, 193, 193, 1);
    -moz-box-shadow: 0px 0px 21px -5px rgba(193, 193, 193, 1);
    box-shadow: 0px 0px 21px -5px rgba(193, 193, 193, 1);
    background-color: #FAFAFA;
    border-radius: 9px;
    text-align: center;
    transition: background-color 0.2s ease-out;
}

.our-friends-card img {
    width: 21.1vw;
}

.our-friends-card h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.56vw;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 26px;
}

.our-friends-card button {
    padding: 1.17vw 3.52vw;
    margin: 8px 0 25px 0;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.33vw;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: background-color 0.2s ease-out;
}

.our-friends-card:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.our-friends-card:hover button {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
}

.our-friends-bt-get-to-know {
    /* place-self: center center; */
    margin: 62px 0 0 0;
}

@media screen and (max-width: 770px) {
    #woody {
        display: none;
    }

    .slider-wrapper {
        column-gap: 1.5vw;
        padding-top: 39px;
    }

    .our-friends-cards-wrapper {
        gap: 0;
    }

    #jenifer {
        margin-left: 4.5vw;
    }

    .arrow-right {
        width: 6.77vw;
        height: 6.77vw;
    }

    .arrow-left {
        width: 6.77vw;
        height: 6.77vw;
    }

    .arrow-left img,
    .arrow-right img {
        width: 1.8vw;
    }

    .our-friends-card img {
        width: 35.1vw;
    }

    .our-friends-card h3 {
        font-size: 2.6vw;
    }

    .our-friends-card button {
        padding: 1.95vw 5.86vw;
        font-size: 2.21vw;
    }

}

/* SECTION HELP */
.help {
    background-color: white;
    padding-top: 55px;
    padding-bottom: 85px;
}

.help h2 {
    text-align: center;
    line-height: 130%;
}

.help-icons-wrapper {
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3.3vw;
    row-gap: 25px
}

.help-icons-wrapper figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-icons-wrapper figure img {
    width: 4.7vw;
}

.help-icons-wrapper figcaption {
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.56vw;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

@media screen and (max-width: 770px) {
    .help {
        padding-bottom: 102px;
    }

    .help-icons-wrapper {
        margin-top: 56px;
        column-gap: 9.9vw;
        row-gap: 7.16vw;
    }

    .help-icons-wrapper figure {
        margin: 0;
        width: 154px;
    }

    .help-icons-wrapper figure img {
        width: 8vw;
    }

    .help-icons-wrapper figcaption {
        font-size: 2.6vw;
    }
}

/* SECTION IN ADDITION */
.in-addition {
    background-color: #F6F6F6;
    padding-top: 50px;
    padding-bottom: 88px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-areas: 'in-addition-picture in-addition-text';
    align-items: center;
}

#in-addition-picture {
    grid-area: in-addition-picture;
}

#in-addition-text {
    grid-area: in-addition-text;
}

.in-addition>img {
    width: 39.5vw;
    justify-self: center;
    position: relative;
    left: 4.4vw;
    top: 9px;
}

.in-addition-text-wrapper {
    justify-self: start;
    width: 29.45vw;
}

.in-addition-text-wrapper h2 {
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 2px;
}

.bank-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.17vw;
    margin-top: 17px;
    letter-spacing: 0.06em;
    color: #545454;
}

.bank-account {
    border-radius: 9px;
    padding: 0.78vw 1.17vw;
    background: #F1CDB3;
    transition: background-color 0.2s ease-out;
    width: 25vw;
    display: flex;

}

.bank-account a {
    text-decoration: none;
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.56vw;
    letter-spacing: 0.06em;
}

.bank-account img {
    width: 2.3vw;
    padding-right: 1.2vw;
}

.bank-account:hover {
    background-color: #FDDCC4;
}

.legal-info {
    padding-top: 9px;
    font-family: 'Arial';
    font-style: italic;
    font-size: 0.94vw;
    line-height: 150%;
    color: #B2B2B2;
}

@media screen and (max-width: 770px) {
    .in-addition {
        padding-bottom: 152px;
        grid-template-areas: 'in-addition-text''in-addition-picture';
        grid-template-columns: 1fr;
    }

    .in-addition-text-wrapper {
        width: 49vw;
        justify-self: center;
    }

    .bank-account {
        width: 41.2vw;
        padding: 1.3vw 1.95vw;
    }

    .bank-name {
        font-size: 1.95vw;
    }

    .bank-account a {
        font-size: 2.6vw;
    }

    .bank-account img {
        width: 3.91vw;
        padding-right: 1.5vw;
    }

    .legal-info {
        font-size: 1.56vw;
    }

    .in-addition>img {
        width: 65.5vw;
        top: 53px;
        left: 0;
    }
}