@import url(normalize.css);
@import url(global.css);

/* HEADER WRAPPER*/
.header-wrapper {
    background-color: #2b2726;
    background-image: url(../assets/images/noise_transparent@2x.png), radial-gradient(80% 350% at 0% 0%, #4e3e32 10%, #222021 100%);
}

/* HEADER */
.main-menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2.73vw;
}

.main-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.17vw;
    transition: color 0.2s ease-out;
    transition: padding-bottom 0.2s ease-out;
}

#about-higlight {
    color: #F1CDB3;
    padding-bottom: 8px;
    background-image: linear-gradient(to right, #F1CDB3, #F1CDB3);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}

.main-menu a:hover {
    color: #FDDCC4;
    padding-bottom: 8px;
    background-image: linear-gradient(to right, #F1CDB3, #F1CDB3);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}

.header-wrapper header {
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo-wrapper h1 a {
    color: #F1CDB3;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 2.5vw;
    letter-spacing: 0.06em;
}

.logo-wrapper p {
    color: white;
    font-size: 1.02vw;
    letter-spacing: 0.1em;
    margin-top: -20px;
    margin-left: 0.2vw;
}

/* SECTION NOT ONLY */
.not-only {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

.not-only-text-wrapper {
    position: relative;
    margin-top: -153px;
    width: 50vw;
}

.not-only h2 {
    color: white;
    font-size: 3.13vw;
    line-height: 144%;
}

.not-only p {
    font-size: 1.17vw;
    line-height: 145%;
    color: #CDCDCD;
    margin-top: 47px;
}

.not-only-button {
    position: relative;
    top: 45px;
}

.not-only img {
    padding-top: 25px;
    width: 55vw;
}

/* SECTION ABOUT  */
.about {
    background-color: white;
    padding-top: 66px;
    padding-bottom: 105px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.about img {
    width: 23.5vw;
    justify-self: center;
    position: relative;
    top: 14px;
    left: 25px;
}

.about-text-wrapper {
    width: 72%;
    justify-self: start;
}

.about-text-wrapper p:first-of-type {
    margin-top: -5px;
    margin-bottom: 29px;
}

.about h2 {
    line-height: 1.3em;
}

/* SECTION OUR FRIENDS */
.our-friends {
    padding-top: 56px;
    padding-bottom: 98px;
    background: #F6F6F6;
    display: grid;
    justify-content: center;
    position: relative;
}

.our-friends h2 {
    text-align: center;
}

.our-friends-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    gap: 7.03vw;
    margin-top: 35px;
}

.arrow-left {
    width: 4.06vw;
    height: 4.06vw;
    cursor: pointer;
    border: solid 2px #F1CDB3;
    border-radius: 4.06vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 3.13vw;
    top: 2px;
    transition: background-color 0.2s ease-out;
}

.arrow-right {
    width: 4.06vw;
    height: 4.06vw;
    cursor: pointer;
    border: solid 2px #F1CDB3;
    border-radius: 4.06vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 3.13vw;
    top: 2px;
    transition: background-color 0.2s ease-out;
}

.arrow-left img,
.arrow-right img {
    width: 1vw;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: #FDDCC4;
    border: solid 2px #FDDCC4;
    border-radius: 100px;
}

.our-friends-card {
    -webkit-box-shadow: 0px 0px 21px -5px rgba(193, 193, 193, 1);
    -moz-box-shadow: 0px 0px 21px -5px rgba(193, 193, 193, 1);
    box-shadow: 0px 0px 21px -5px rgba(193, 193, 193, 1);
    background-color: #FAFAFA;
    border-radius: 9px;
    text-align: center;
    transition: background-color 0.2s ease-out;
}

.our-friends-card img {
    width: 21.1vw;
}

.our-friends-card h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.56vw;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 26px;
}

.our-friends-card button {
    padding: 1.17vw 3.52vw;
    margin: 8px 0 25px 0;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.33vw;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: background-color 0.2s ease-out;
}

.our-friends-card:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.our-friends-card:hover button {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
}

.our-friends-bt-get-to-know {
    place-self: center center;
    margin: 65px 0 0 0;
}

/* SECTION HELP */
.help {
    background-color: white;
    padding-top: 51px;
    padding-bottom: 85px;
}

.help h2 {
    text-align: center;
    line-height: 130%;
}

.help-icons-wrapper {
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3.3vw;
    row-gap: 25px
}

.help-icons-wrapper figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-icons-wrapper figure img {
    width: 4.7vw;
}

.help-icons-wrapper figcaption {
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.56vw;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

/* SECTION IN ADDITION */
.in-addition {
    background-color: #F6F6F6;
    padding-top: 56px;
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: 39.45vw 29.69vw;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.in-addition-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.in-addition-text-wrapper h2 {
    line-height: 130%;
    margin-bottom: 2px;
}

.in-addition-text-wrapper a {
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.56vw;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
    transition: background-color 0.2s ease-out;
}

.bank-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.17vw;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.legal-info {
    padding-top: 7px;
    font-family: 'Arial';
    font-style: italic;
    font-size: 0.94vw;
    line-height: 150%;
    color: #B2B2B2;
}

.in-addition-text-wrapper a:hover {
    background-color: #FDDCC4;
}

.in-addition-text-wrapper a img {
    padding-right: 15px;
}